# Ignorar la carpeta "post" y todos sus contenidos
assets/post/big/
assets/post/thumb/
assets/post-temp/
assets/alianzas/
assets/directivos/
assets/docentes/
assets/novedades/
assets/revistas/
assets/slider/
assets/socios/